<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="list-style-type:none" >
            <li>
                <form action="/" method="GET">
                    <button type="submit" id="button">Home</button>
                </form>
            </li>
            <li>
                <form action="/seeListBirthdays" method="GET">
                    <button type="submit">See full List</button>
                </form>
            </li>
        </ul>
    </nav>
    
    <p>Number of birthdays in the database: <%= count %></p>
     
    <section>
        <h1>Find a birthday</h1>

        <form action="/findBirthday/:name" method="GET">
            <input type="text" id="friendName" name="name">
            <input type="submit">
        </form>
        <div id="result">

        </div>
    
    </section>
  
        

    <h1>List of birthdays</h1>
    <form action="/seeListBirthdays" method="GET">
        <button type="submit">See full List</button>
    </form>

    <h2>Add A Birthday:</h2>
    <form action="/addBirthday" method="POST">
        <input type="text" placeholder="Name" name="friendName">
        <input type="date" placeholder="Birthday" name="birthday">
        <input type="submit">
    </form>    

    <script src='/js/main.js'></script>
</body>
</html>