<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="">
    <nav>
        <ul style="list-style-type:none" class="flex">
            <li>
                <form action="/" method="GET">
                    <button type="submit" id="log-in-btn" class="border-2 border-black m-4 p-2 rounded">Log in</button>
                </form>
            </li>
            <li>
                <form action="/" method="GET">
                    <button type="submit" id="home-btn" class="border-2 border-black m-4 p-2 rounded">Home</button>
                </form>
            </li>
            <li>
                <form action="/seeListBirthdays" method="GET">
                    <button type="submit" class="border-2 border-black m-4 p-2 rounded">See full List</button>
                </form>
            </li>
        </ul>
    </nav>
    
    <p class="">Number of birthdays in the database: <%= count %></p>

    <h1 class="text-red-500 text-6xl font-bold">Birthday Reminder</h1>
    <span>
        <% if (birthdays.length > 0) { %>
            <h3>Today is the birthday of:</h3>
            <ul style="list-style-type:none">
                <% birthdays.forEach(function(birthdays) { %>
                    <li><%= birthdays.friendName %> <%= birthdays.friendSurname %> - <%= birthdays.age %> years old</li>
                <% }) %>
            </ul>
        <% } else { %>
            <h3>You haven't forgot any birthdays today.</h3>
        <% } %>
    </span>
     
    <section>
        <h1 class="flex m-3">Find a birthday</h1>
        <form action="/findBirthday" method="GET" id="form">
            <input type="text" id="friendName" name="name" placeholder="Name" class="border-2 border-black m-4 p-2 rounded">
            <input type="text" id="friendSurname" name="surname" placeholder="Surname" class="border-2 border-black m-4 p-2 rounded">
            <button type="submit" id="findBd-btn" class="border-2 border-black m-4 p-2 rounded">submit</button>
        </form>
        <div id="result"></div>
    </section>

    <section>
        <h2 class="flex m-3">Add A Birthday:</h2>
        <form action="/addBirthday" method="POST">
            <input type="text" placeholder="Name" name="friendName" id="addName" class="border-2 border-black m-4 p-2 rounded">
            <input type="text" placeholder="Surname" name="friendSurname" id="addSurname" class="border-2 border-black m-4 p-2 rounded">
            <input type="date" placeholder="Birthday" name="birthday" id="dateBd" class="border-2 border-black m-4 p-2 rounded">
            <button type="submit" id="add-btn" class="border-2 border-black m-4 p-2 rounded">submit</button>
        </form> 
        <div id="inputError"></div>   
    </section>

    <script src='/js/main.js'></script>
</body>
</html>