<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="list-style-type:none" >
            <li>
                <form action="/" method="GET">
                    <button type="submit" id="log-in-btn">Log in</button>
                </form>
            </li>
            <li>
                <form action="/" method="GET">
                    <button type="submit" id="home-btn">Home</button>
                </form>
            </li>
            <li>
                <form action="/seeListBirthdays" method="GET">
                    <button type="submit">See full List</button>
                </form>
            </li>
        </ul>
    </nav>
    
    <p>Number of birthdays in the database: <%= count %></p>

    <h1>birthday reminder</h1>
    <span>
        <% if (birthdays.length > 0) { %>
            <h3>Today is the birthday of:</h3>
            <ul style="list-style-type:none">
                <% birthdays.forEach(function(birthdays) { %>
                    <li><%= birthdays.friendName %> <%= birthdays.friendSurname %> - <%= birthdays.age %> years old</li>
                <% }) %>
            </ul>
        <% } else { %>
            <h3>You haven't forgot any birthdays today.</h3>
        <% } %>
    </span>
     
    <section>
        <h1>Find a birthday</h1>

        <form action="/findBirthday/name" method="GET" id="form">
            <input type="text" id="friendName" name="name" placeholder="Name">
            <input type="text" id="friendSurname" name="surname" placeholder="Surname">
            <button type="submit" id="findBd-btn">submit</button>
        </form>
        <div id="result"></div>
    
    </section>

    <h2>Add A Birthday:</h2>
    <form action="/addBirthday" method="POST">
        <input type="text" placeholder="Name" name="friendName">
        <input type="text" placeholder="Surname" name="friendSurname">
        <input type="date" placeholder="Birthday" name="birthday">
        <input type="submit">
    </form>    

    <script src='/js/main.js'></script>
</body>
</html>