<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/" method="GET">
        <button type="submit">Home</button>
    </form>

    <span>
        <% if (friend.length > 0) { %>
            <% friend.forEach((friend) => { %>
                <li class="friend" style="list-style-type:none">
                    <span class='fa fa-thumbs-up'></span>
                    <span class='fa fa-trash'></span>
                    <p> Name: <%= friend.friendName %> </p>
                    <p> DOB: <%= friend.birthday %> </p>
                    <p> Age: <%= friend.age %> </p>
                    <br>
                </li>
            <% }); %>
          <% } else { %>
            <p>No data available</p>
          <% } %>
    </span>

</body>
</html>