<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/775c6d76d9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <form action="/" method="GET">
        <button type="submit">Home</button>
    </form>

    <span>
        <% if (friend.length > 0) { %>
            <% friend.forEach((friend) => { %>
                <li style="list-style-type:none">
                    <i class="fa-solid fa-user-minus"></i>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p>Name: <%= friend.friendName %></p>
                    <p>Surname: <%= friend.friendSurname %></p>
                    <p>DOB: <%= friend.birthday %></p>
                    <p>Age: <%= friend.age %></p>
                    <br>
                </li>
            <% }); %>
          <% } else { %>
            <p>No data available</p>
          <% } %>
    </span>
    <script src='/js/main.js'></script>
</body>
</html>
'/js/main.js'