@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1{
    color: red;
}

span{
    color: blueviolet;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    color: white;
    text-decoration: none;
} */